/* Browser style reset */
* {
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

.bodygrid {
    display: grid;
    grid-template: 1fr / 1fr 600px 1fr;
    grid-template-areas: "left mid right";
}

/* Setting up gameboard positioning. */
.gameboard {
    grid-area: mid;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: 
    "topleft topmid topright"
    "midleft centermid midright"
    "bottomleft bottommid bottomright";
    gap: 5px;
}
/* Setting up gameboard peices. */
#topleft {
    grid-area: topleft;
}
#midleft {
    grid-area: midleft;
}
#bottomleft {
    grid-area: bottomleft;
}
#topmid {
    grid-area: topmid;
}
#centermid {
    grid-area: centermid;
}
#bottommid {
    grid-area: bottommid;
}
#topright {
    grid-area: topright;
}
#midright {
    grid-area: midright;
}
#bottomright {
    grid-area: bottomright;
}