/* Browser style reset */
* {
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

/* Main grid applied to the body of page. */
/* Allows for centering of gameboard elems. */
.bodygrid {
    display: grid;
    grid-template: 1fr 600px 1fr 1fr / 1fr 600px 1fr;
    grid-template-areas: 
    "header header header"
    "left mid right"
    "status status status"
    "footer footer footer";
}
/* Positoning for Header and footer areas. */
.bodygrid > .header {
    grid-area: header;
    height: 80px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.header > .center {
    text-align: center;

}
.bodygrid > .gamestatus {
    grid-area: status;
    width: 100vw;
    text-align: center;
}
.bodygrid > .footer {
    grid-area: footer;
    width: 100vw;
    height: 80px;
}

/* Setting up gameboard positioning. */
.gameboard {
    grid-area: mid;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: 
    "topleft topmid topright"
    "midleft centermid midright"
    "bottomleft bottommid bottomright";
    gap: 5px;
}
/* Setting up gameboard peices. */
/* Each is defined in a grid area. */
#topleft {
    grid-area: topleft;
}
#midleft {
    grid-area: midleft;
}
#bottomleft {
    grid-area: bottomleft;
}
#topmid {
    grid-area: topmid;
}
#centermid {
    grid-area: centermid;
}
#bottommid {
    grid-area: bottommid;
}
#topright {
    grid-area: topright;
}
#midright {
    grid-area: midright;
}
#bottomright {
    grid-area: bottomright;
}
#gameboard > .square {
    cursor: pointer;
}

/* Font sizing for Gameboard squares. */
.gameboard > div {
    font-size: 50pt;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal and related content. */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}
.modal-content {
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    padding: 15px;
}
